@namespace CRM.Client
@using CRM.Client.Components.Layout
@using CRM.Client.Components.Pages.Authentication
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(MainLayout)">

                <Authorizing>
                    <div class="m-3">
                        <div class="alert alert-info">
                            Checking authentication...
                        </div>
                    </div>
                </Authorizing>

             <NotAuthorized Context="authContext">
                     @if (!authContext.User.Identity?.IsAuthenticated ?? true)
                     {
                          <!-- Not logged in -->
                             <RedirectToLogin />
                     }
                     else
                     {
                                 <!-- Logged in but wrong role -->
                                <RedirectToForbidden />
                      }
               </NotAuthorized>



            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>

        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
